---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
---

<BaseLayout title="Projeler" sideBarActiveItemID="projects">
  <div class="mb-6">
    <div class="text-3xl font-bold mb-2">Projeler</div>
    <p class="text-base text-gray-500">Tasarımını ve geliştirmesini üstlendiğim bazı sistemler.</p>
  </div>

  <HorizontalCard
    title="GameBox – Vuvy Game"
  icon="gamepad-2"
    desc="Çok oyunculu mobil oyunlar için ölçeklenebilir bir backend platformu."
    url="#"
    badge={["Live", "Gaming"]}
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="EthixNG – Architecht"
    icon="wallet"
    desc="Mikroservis mimarisi ile geliştirilen modern ve etik bir bankacılık sistemi."
    url="#"
    badge="Fintech"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Ideal Environment – Idea Learning"
    icon="graduation-cap"
    desc="Eğitim kurumları için LMS, sınav, analiz ve anket platformları."
    url="#"
    badge="EdTech"
  />
</BaseLayout>
